.add-media {
  width: 80vw;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

button {
  background-color: var(--colore-primario);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: var(--colore-primario);
  filter: brightness(200%);
}

.close-btn-div-addMedia {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.upload-div-addMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-height: 690px) {
  .add-media {
    width: 80vw;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    margin-top: -2rem;
  }
}

@media (min-height: 950px) {
  .add-media {
    width: 80vw;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    margin-top: 5rem;
  }
}

@media (min-height: 1100px) {
  .add-media {
    width: 80vw;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    margin-top: 15rem;
  }
}
