.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: purple;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: yellow;
  border: 2px black solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

.topDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  padding: 0;
}

.avatarDiv {
  width: 90%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.avatarDiv img {
  width: 5%;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  border: 2px black solid;
}

.avatarDiv button {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.avatarDiv button:hover {
  background-color: #0c87c0;
}

.identificationDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  line-height: 0;
  padding: 0.25rem;
  box-sizing: border-box;
}

.infoDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  gap: 0.25rem;
  padding: 0.25rem;
  box-sizing: border-box;
}

.followerFollowingDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0;
  gap: 0.25rem;
  padding: 0.25rem;
  box-sizing: border-box;
}

.tweetsDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: 95%;
  gap: 0.25rem;
  background-color: wheat;
  flex-wrap: wrap;
  min-height: 0;
}

.tweet {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  flex-basis: 0;
  flex-grow: 1;
}

.topTweetDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 0.5rem;
}

.contentDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.reactionsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.reactionsDiv img {
  width: 5%;
  height: 5%;
}

.likesDiv,
.commentsDiv,
.rtDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 900px) {
  .avatarDiv img {
    width: 10%;
  }

  .reactionsDiv img {
    width: 8%;
    height: 8%;
  }
}

@media (max-width: 650px) {
  .tweet {
    font-size: 0.8rem;
  }

  .avatarDiv img {
    width: 15%;
  }

  .reactionsDiv img {
    width: 15%;
    height: 15%;
  }
}
@media (max-width: 390px) {
  .tweetsDiv {
    margin-bottom: 5rem;
  }

  .tweet {
    font-size: 0.7rem;
  }
}

@media (max-width: 320px) {
  .profile {
    font-size: 3px;
  }

  .tweet {
    font-size: 0.5rem;
  }
}
