.UserSearchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.input {
  margin-top: 2rem;
}

.searchUl {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.searchElement {
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 4px;
  width: 168px;
}

.searchElement:hover {
  background-color: #e0e0e0;
}
